doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title="Evaluation test page"
        link(href="stylesheet.css" rel="stylesheet")
    body
        header.header
            div.header__left
                div.header__left__logo company
                div.header__left__slogan Your technology partner in the web development
            div.header__right
                ul.header__menu
                    li.header__menu-item services                
                    li.header__menu-item engagement models
                    li.header__menu-item case studies
                button.hero-button Contact us
                div.header__menu-button
                    img(src="assets/images/menu-icon.svg" alt="Menu button")
        main.main
            div.main-panel.clearfix
                div#banner.main-panel__banner
                    img.banner__image(src="assets/images/workspace.webp" alt="Workspace image")
                    span.banner__text
                        div.line-1 web
                        div.line-2 development
                div#desc.main-panel__features
                    div.features__description
                        div.desc-wrapper
                            img.desc-decor(src="assets/images/square_with_dot.svg" alt="Decorum element")
                            div.desc-text
                                | Wordpress / Woocommerce project of any scale.
                                br
                                | HTML Layout of any complexity. Technical SEO optimization. PageSpeed / Core Vitals.
                            button(type="button" name="Get a quote").hero-button Get a quote
                    div.features__technologies
                        img(src="assets/images/features/wordpress-developers.svg" alt="WordPress")
                        img(src="assets/images/features/woocommerce-developers.svg" alt="WooCommerce")
                        img(src="assets/images/features/html5-logo.svg" alt="HTML5")
                        img(src="assets/images/features/seo-optimization.svg" alt="SEO optimization")
                        img(src="assets/images/features/website-optimization.svg" alt="Web speed optimization")
                        img(src="assets/images/features/figma.svg" alt="Figma")
        footer#footer.footer
            div.ticker-wrap
                div.ticker
                    img.ticker__item(src="assets/images/partners/petricore-1.svg" alt="PetriCore")
                    img.ticker__item(src="assets/images/partners/siemens-1.svg" alt="Siemens")
                    img.ticker__item(src="assets/images/partners/mute-design.svg" alt="MuteDesign")
                    img.ticker__item(src="assets/images/partners/social-health.svg" alt="SocialHealth")
                    img.ticker__item(src="assets/images/partners/employment-org.svg" alt="Employment.org")
                    img.ticker__item(src="assets/images/partners/dx.svg" alt="DX")
        script(src="assets/js1.js")
