@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/font/Gilroy-Light.eot");
  src: local("Gilroy"), url("./assets/font/Gilroy-Light.woff2") format("woff2"), url("./assets/font/Gilroy-Light.woff") format("woff"), url("./assets/font/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/font/Gilroy-Regular.eot");
  src: local("Gilroy"), url("./assets/font/Gilroy-Regular.woff2") format("woff2"), url("./assets/font/Gilroy-Regular.woff") format("woff"), url("./assets/font/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/font/Gilroy-Bold.woff2");
  src: local("Gilroy"), url("./assets/font/Gilroy-Bold.woff2") format("woff2"), url("./assets/font/Gilroy-Bold.woff") format("woff"), url("./assets/font/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/font/Gilroy-ExtraBold.woff2");
  src: local("Gilroy"), url("./assets/font/Gilroy-ExtraBold.woff2") format("woff2"), url("./assets/font/Gilroy-ExtraBold.woff") format("woff"), url("./assets/font/Gilroy-ExtraBold.ttf") format("truetype");
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Gilroy", "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
}
body:before, body:after, html:before, html:after {
  box-sizing: border-box;
}

@media only screen and (min-width: 769px) {
  .header {
    width: 88.5%;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .main {
    width: 87.5%;
    margin: 0 auto;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    width: 98%;
    margin: auto;
  }
  .main {
    width: 100%;
  }
}
.hero-button {
  border-radius: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 13.75em;
  border: none;
  text-align: center;
  transition: 0.15s all ease-in-out;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.header {
  height: 8.328em;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__left, .header__right {
  display: inherit;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  position: relative;
}
.header__left__logo {
  font-weight: 700;
  font-size: 2.25rem;
  display: inline-block;
  width: 250px;
  text-align: center;
}
.header__left__logo::before, .header__left__logo::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #f7f7f7;
  top: 0;
}
.header__left__logo::before {
  left: 0;
  height: 100%;
}
.header__left__logo::after {
  height: 75%;
  left: 251px;
}
.header__left__slogan {
  font-weight: 400;
}
@media only screen and (min-width: 1616px) {
  .header__left__slogan {
    display: inline-block;
    font-size: 0.938rem;
  }
}
@media only screen and (max-width: 1615px) {
  .header__left__slogan {
    display: none;
  }
}
.header__right .header__menu {
  list-style: none;
}
.header__right .header__menu .header__menu-item {
  float: left;
  font-weight: 700;
}
.header__right .header__menu .header__menu-item:not(:first-of-type) {
  margin-left: 3.668em;
}
@media only screen and (min-width: 1201px) {
  .header__right .header__menu {
    display: inline-block;
  }
}
@media only screen and (max-width: 1200px) {
  .header__right .header__menu {
    display: none;
  }
}
.header__right .hero-button {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
}
.header__right .hero-button:hover {
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}
@media only screen and (min-width: 1201px) {
  .header__right .hero-button {
    display: inline-block;
  }
}
@media only screen and (max-width: 1200px) {
  .header__right .hero-button {
    display: none;
  }
}
.header__right .header__menu-button img {
  height: 24px;
  width: 24px;
}

@media only screen and (min-width: 1658px) {
  .header::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: #f7f7f7;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -9%;
  }
}
@media only screen and (min-width: 1200px) {
  .header__left, .header__right {
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__left, .header__right {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 4em;
         column-gap: 4em;
  }
}
.main .main-panel {
  position: relative;
}
.main .main-panel__banner {
  width: 100%;
  position: relative;
}
.main .main-panel__banner .banner__image {
  z-index: 0;
  height: auto;
  width: 100%;
  max-height: 600px;
}
.main .main-panel__banner .banner__text {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  font-weight: 600;
  color: #FFFFFF;
  transform: translate(0, -50%);
  font-size: 13vw;
  line-height: 74.5%;
}
.main .main-panel__banner .banner__text .line-1 {
  position: absolute;
  transform: translate(-2.5%, -115%);
}
.main .main-panel__banner .banner__text .line-2 {
  position: absolute;
  transform: translate(4%, -10%);
}
.main .main-panel__features {
  display: flex;
  position: absolute;
}
.main .main-panel__features .features__description {
  display: inline-block;
  background-color: #14161B;
  width: 100%;
}
.main .main-panel__features .features__description .desc-wrapper {
  position: relative;
}
.main .main-panel__features .features__description .desc-wrapper .desc-decor {
  position: absolute;
  width: 124px;
  height: 124px;
  z-index: 0;
}
@media only screen and (min-width: 1400px) {
  .main .main-panel__features .features__description .desc-wrapper .desc-decor {
    top: 0;
    right: 0.3em;
  }
}
@media only screen and (max-width: 1399px) {
  .main .main-panel__features .features__description .desc-wrapper .desc-decor {
    top: 0;
    right: 1.625em;
  }
}
@media only screen and (min-width: 1700px) {
  .main .main-panel__features .features__description .desc-wrapper {
    padding: 1em 1.375em 1em 0;
  }
}
@media only screen and (min-width: 1399px) and (max-width: 1699px) {
  .main .main-panel__features .features__description .desc-decor {
    padding: 0;
  }
}
@media only screen and (max-width: 1399px) {
  .main .main-panel__features .features__description .desc-wrapper {
    padding: 1.375em;
  }
}
.main .main-panel__features .features__description .desc-text {
  color: #FFFFFF;
  font-weight: 400;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 1400px) {
  .main .main-panel__features .features__description .desc-text {
    line-height: 2.4rem;
    min-height: 186px;
  }
}
@media only screen and (max-width: 1399px) {
  .main .main-panel__features .features__description .desc-text {
    line-height: 1.95rem;
    margin: 0 auto 1.125em auto;
  }
}
.main .main-panel__features .features__description .hero-button {
  background-color: #DA1648;
  color: #FFFFFF;
}
.main .main-panel__features .features__description .hero-button:hover {
  background-color: #FFFFFF;
  color: #DA1648;
}
@media only screen and (max-width: 992px) {
  .main .main-panel__features .features__description .hero-button {
    margin: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .main .main-panel__features .features__description {
    padding: 44px 66px;
  }
}
@media only screen and (max-width: 1399px) {
  .main .main-panel__features .features__description {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
@media only screen and (min-width: 992px) {
  .main .main-panel__features .features__description {
    width: 662px;
    height: 262px;
  }
}
@media only screen and (min-width: 1400px) {
  .main .main-panel__features .features__description {
    font-size: 1.456rem;
  }
}
@media only screen and (max-width: 1399px) {
  .main .main-panel__features .features__description {
    font-size: 1.125rem;
  }
}
.main .main-panel__features .features__technologies {
  display: grid;
}
.main .main-panel__features .features__technologies img {
  margin: auto;
}
@media only screen and (min-width: 1895px) {
  .main .main-panel__features .features__technologies {
    gap: 5.438em 5em;
    min-width: 740px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1894px) {
  .main .main-panel__features .features__technologies {
    gap: 5.438em 5em;
  }
}
@media only screen and (min-width: 1135px) and (max-width: 1399px) {
  .main .main-panel__features .features__technologies {
    gap: 2.5em 2em;
  }
}
@media only screen and (min-width: 1135px) {
  .main .main-panel__features .features__technologies {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1134px) {
  .main .main-panel__features .features__technologies {
    grid-auto-rows: 0.25fr;
    grid-template-columns: repeat(2, 0.33fr);
    gap: 1.5em 2em;
    margin-bottom: 3em;
  }
  .main .main-panel__features .features__technologies img {
    margin: auto;
  }
}
@media only screen and (min-width: 769px) {
  .main .main-panel__features .features__technologies {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 991px) {
  .main .main-panel__features .features__technologies {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 2em;
  }
  .main .main-panel__features .features__technologies img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
  }
}
@media only screen and (max-width: 991px) and (orientation: landscape) {
  .main .main-panel__features .features__technologies {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .main .main-panel__features {
    padding-left: 5%;
    max-width: 94.45%;
  }
}
@media only screen and (min-width: 769px) {
  .main .main-panel__features {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .main .main-panel__features {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 992px) {
  .main .main-panel__features {
    position: static;
  }
}
@media only screen and (min-width: 1700px) {
  .main .main-panel__features {
    bottom: -50%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
  .main .main-panel__features {
    bottom: -66.6666666667%;
  }
}
@media only screen and (min-width: 1225px) and (max-width: 1399px) {
  .main .main-panel__features {
    bottom: -67.5675675676%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  .main .main-panel__features {
    bottom: -80%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1023px) {
  .main .main-panel__features {
    bottom: -90.9090909091%;
  }
}
@media only screen and (max-width: 992px) {
  .main .main-panel__features {
    bottom: -51.2820512821%;
  }
}

.footer {
  margin: 0 0 2.188em;
  width: 100%;
}
@-webkit-keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-250%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-250%, 0, 0);
  }
}
.footer .ticker-wrap {
  bottom: 0;
  overflow: hidden;
  height: 3rem;
  padding-left: 100%;
  box-sizing: content-box;
}
.footer .ticker-wrap .ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}
.footer .ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: #FFFFFF;
}

@media only screen and (min-width: 993px) {
  .footer {
    margin: 0 0 2.188em;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .footer {
    margin: 0 0 2.188em;
  }
}/*# sourceMappingURL=stylesheet.css.map */